body {
    height: 100vh;
    background-color: #f9f0d9;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.parent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px 0 30px 0;
    background-color: #cde5ff;
    border: 2px solid rgb(164, 213, 220);
    border-radius: 10px;
}

.item { 

    padding: 20px;
    margin: 5px 0;
    background-color: rgb(230, 195, 195);
    border:2px solid rgb(203, 141, 141);
    
}

.container-1 {
    align-items: flex-start;
}

.container-2 {
    
   align-items: flex-end;
}

.container-3 {
    align-items: center;
}

.container-4 {
   
   align-items: space-around;
}